CHROMADB_PATH=chroma_data
COLLECTION=docs
EMBEDDING_MODEL=embeddinggemma

DOCS_PATH=docs

CHUNK_SIZE=384
CHUNK_OVERLAP=40

LLM_MODEL=gpt-oss:20b-cloud
OLLAMA_KEY=your_ollama_api_key_here

DB_URL=postgresql://user:password@localhost:5432/db
DB_ECHO=0